# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Build Output
dist/
dist-ssr/
coverage/
.vite/

# Environment Variables
.env
.env.*
!.env.example

# OS Files
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Typescript
*.tsbuildinfo

# Linter
.eslintcache
